<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksy.shop.item.dao.ItemMapper">
    <resultMap id="item" type="itemVO">
        <id property="num" column="num"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="reg_date" column="reg_date"/>
        <result property="quantity" column="quantity"/>

        <association property="member" javaType="memberVO">
            <id property="num" column="mem_num"/>
            <result property="id" column="mem_id"/>
            <result property="name" column="mem_name"/>
        </association>
    </resultMap>

    <insert id="insertItem" parameterType="itemVO">
        INSERT INTO item
        VALUES(item_seq.nextval, #{name}, #{type}, #{content}, #{price}, #{image}, sysdate, #{member.num}, #{quantity})
    </insert>

    <select id="selectItemList" resultMap="item" parameterType="map">
        SELECT *
        FROM (
            SELECT i.num,i.name,i.type,i.content,i.price,i.image,i.reg_date, i.mem_num,i.quantity,m.name as mem_name,m.id as mem_id, ROWNUM rnum
            FROM item i
            JOIN member m ON i.mem_num = m.num
            WHERE #{endRow} >= ROWNUM
            ORDER BY i.num DESC
        )
        WHERE rnum >= #{startRow}
    </select>

    <select id="selectItemCount" parameterType="integer">
        SELECT COUNT(*)
        FROM item
    </select>

    <select id="selectItem" parameterType="long" resultMap="item">
        SELECT i.num,i.name,i.type,i.content,i.price,i.image,i.reg_date, i.mem_num,i.quantity,m.name as mem_name,m.id as mem_id
        FROM item i
        JOIN member m
        ON i.mem_num = m.num
        WHERE i.num=#{num}
    </select>




    <resultMap id="item_cart" type="item_CartVO">
        <id property="num" column="num"/>
        <result property="reg_date" column="reg_date"/>
        <association property="member" javaType="memberVO">
            <id property="num" column="mem_num"/>
            <result property="id" column="mem_id"/>
            <result property="name" column="mem_name"/>
        </association>
        <association property="item" javaType="itemVO">
            <id property="num" column="item_num"/>
            <result property="name" column="item_name"/>
            <result property="type" column="item_type"/>
            <result property="content" column="item_content"/>
            <result property="price" column="item_price"/>
            <result property="image" column="item_image"/>
            <result property="reg_date" column="item_reg_date"/>
            <result property="quantity" column="item_quantity"/>
        </association>
    </resultMap>

    <insert id="insertItem_Cart" parameterType="item_CartVO">
        INSERT INTO ITEM_CART
        VALUES(item_cart_seq.nextval, #{member.num}, #{item.num}, SYSDATE)
    </insert>
    <select id="selectItem_Cart" parameterType="map" resultMap="item_cart">
        SELECT C.NUM, C.REG_DATE, M.NUM AS MEM_NUM, M.NAME AS MEM_NAME, M.ID AS MEM_ID, I.NUM AS ITEM_NUM, I.NAME AS ITEM_NAME, I.TYPE AS ITEM_TYPE, I.CONTENT AS ITEM_CONTENT, I.PRICE AS ITEM_PRICE, I.IMAGE AS ITEM_IMAGE, I.REG_DATE AS ITEM_REG_DATE, I.QUANTITY AS ITEM_QUANTITY
        FROM ITEM_CART C
        JOIN MEMBER M
        ON C.MEM_NUM = M.NUM
        JOIN ITEM I
        ON C.ITEM_NUM = I.NUM
        WHERE C.MEM_NUM=#{mem_num} AND C.ITEM_NUM=#{item_num}
    </select>
    <select id="selectItem_CartList" parameterType="long" resultMap="item_cart">
        SELECT C.NUM, C.REG_DATE, M.NUM AS MEM_NUM, M.NAME AS MEM_NAME, M.ID AS MEM_ID, I.NUM AS ITEM_NUM, I.NAME AS ITEM_NAME, I.TYPE AS ITEM_TYPE, I.CONTENT AS ITEM_CONTENT, I.PRICE AS ITEM_PRICE, I.IMAGE AS ITEM_IMAGE, I.REG_DATE AS ITEM_REG_DATE, I.QUANTITY AS ITEM_QUANTITY
        FROM ITEM_CART C
        JOIN MEMBER M
        ON C.MEM_NUM = M.NUM
        JOIN ITEM I
        ON C.ITEM_NUM = I.NUM
        WHERE C.MEM_NUM=#{mem_num}
    </select>
</mapper>