<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksy.shop.item.dao.ItemMapper">
    <insert id="insertItem" parameterType="itemVO">
        INSERT INTO item
        VALUES(item_seq.nextval, #{name}, #{type}, #{content}, #{price}, #{image}, sysdate, #{member.num}, #{quantity})
    </insert>

    <resultMap id="item" type="itemVO">
        <id property="num" column="num"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="reg_date" column="reg_date"/>
        <result property="quantity" column="quantity"/>

        <association property="member" javaType="memberVO">
            <id property="num" column="mem_num"/>
            <result property="id" column="mem_id"/>
            <result property="name" column="mem_name"/>
        </association>
    </resultMap>

    <select id="selectItemList" resultMap="item" parameterType="map">
        SELECT *
        FROM (
            SELECT i.num,i.name,i.type,i.content,i.price,i.image,i.reg_date, i.mem_num,i.quantity,m.name as mem_name,m.id as mem_id, ROWNUM rnum
            FROM item i
            JOIN member m ON i.mem_num = m.num
            WHERE #{endRow} >= ROWNUM
        )
        WHERE rnum >= #{startRow}
    </select>

    <select id="selectItemCount" parameterType="integer">
        SELECT COUNT(*)
        FROM item
    </select>
</mapper>