<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksy.shop.member.dao.MemberMapper">
    <insert id="insertMember" parameterType="memberVO">
        INSERT INTO member (num,name,id,password)
        VALUES(member_seq.nextval, #{name}, #{id}, #{password})
    </insert>
    <select id="selectMemberById" parameterType="string" resultType="memberVO">
        SELECT *
        FROM member
        WHERE id = #{id}
    </select>
    <select id="selectMemberList" resultType="memberVO">
        SELECT *
        FROM member
    </select>
</mapper>